

@media screen and (min-width: 320px) and (max-width: 991px)
{
	.previous-testimonial,.next-testimonial{
		display: none;
	}
}
@media screen and (min-width: 320px) and (max-width: 525px){
	.navbar-nav > li > .dropdown-menu {
		border: 1px solid #ffb600;
		background-color: #000 !important;
		padding: 0 15px;
	}
	.dropdown-menu > li > a {
			padding: 7.5px 0 !important;
			font-weight: bold !important;
			white-space: normal !important;
			text-align: left;
			color: #fff;
		}
}

@media screen and (max-width: 525px){
	.element-item{
	float: left;
	width: 100%;
}
}

@media (min-width: 768px) {


	.skin_layout_div.boxed .affix, .skin_layout_div.boxed #header-1 .affix {
    width: 1210px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #000;
	
}
}
@media only screen and (min-width:768px) and (max-width: 1023px) {
	.construction-address-bar {
    display: none;
}
.construction-header-section {
     position: none;
	}
.collapse.in {
    display: block;
}
.constuction-login-shopping{
	display:none;
}
.construction-carousel {
    margin-top: 59px;
}
.nav-arrows a {
    top: 31%!important;
}
}



@media (max-width: 767px){
	
	
#index-4 .navbar-nav > li > .dropdown-menu {
    background-color: #0c0c0c !important;
    position: static;
    /* padding: 0 15px; */
    width: 100%;
}
.dropdown-menu li>.dropdown-menu {
    /* padding: 0px; */
    /* border-radius: 0px; */
    /* border-top: 0px; */
    float: none;
    position: static;
    /* left: 100%!important; */
}
 .menu-item a {
    display: block!important;
    float: left!important;
    width: 100%!important;
}
.construction-carousel {
    margin-top: 59px;
}
.construction-address-bar {
    display: none;
}
.nav-arrows a {
    top: 31%!important;
}
.cont-block{
	margin-bottom:10px;
	
}
.logo-mobile{
	display:block!important;
	
}
.logo-desktop{
	display:none!important;
}
.col-md-4.col-sm-4.header-block-2.text-center {
    display: none;
}
.col-md-4.col-sm-4.header-block-2.text-right {
    text-align: center;
}
#index-4 .header-block-2{
	padding: 0px; 
	
}
#header-2 ul.dropdown-menu {
    position: static!important;
    width: 100%!important;
}
#header-1 .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

#header-1 ul.dropdown-menu {
    position: static!important;
    width: 100%!important;
}
.navbar-default ul.dropdown-menu >li>a {
    text-align: left;
    padding: 10px!important;
}
.logobrand-mobile{
	display:block!important;
	width: 60%;
}
.logobrand-desktop{
	display:none;
}
 .page-heading-inner .col-md-6.pull-right {
    float: none!important;
	   text-align: center;
}
.page-heading-inner .breadcrumb {
    float: none!important;
    text-align: center;
}

}

@media (min-width: 768px ){
	.hide-library{
	display:none;
}

}
.logo-mobile{
	display:none;
	
}

.logobrand-mobile{
	display:none;
}
/*chnageing the break point*/

